name: Main Workflow

on:
  workflow_call:
    inputs:
      file_path:
        description: 'Path to the file to be processed'
        required: true

jobs:
  display-content:
    runs-on: ubuntu-latest

    steps:
      - name: Display File Content
        run: |
          cat ${{ inputs.file_path }}
