name: Main Workflow

on:
  workflow_call:        

jobs:
  display-content:
    runs-on: ubuntu-latest

    steps:
      - name: Display File Content
        run: |
          cat ${{ github.event.inputs.file_path }}
